doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title cherrysoft.net

    link(rel='stylesheet', type='text/css', href='build/build.css')

    script
      | "use strict";

      | !function() {
      |   var t = window.driftt = window.drift = window.driftt || [];
      |   if (!t.init) {
      |     if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      |     t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      |     t.factory = function(e) {
      |       return function() {
      |         var n = Array.prototype.slice.call(arguments);
      |         return n.unshift(e), t.push(n), t;
      |       };
      |     }, t.methods.forEach(function(e) {
      |       t[e] = t.factory(e);
      |     }), t.load = function(t) {
      |       var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      |       o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      |       var i = document.getElementsByTagName("script")[0];
      |       i.parentNode.insertBefore(o, i);
      |     };
      |   }
      | }();
      | drift.SNIPPET_VERSION = '0.3.1';
      | drift.load('a3vyh58vt463');

  body(class='cube')

    article

      section(data-bespoke-hash='home')
        img(src='images/logo.png')
        p(class='bottom') use the cursor keys to navigate
        img(src='images/navigate_before_grey_36x36.png')
        img(src='images/navigate_next_grey_36x36.png')

      section(data-bespoke-hash='websites')
        img(src='images/cool.png')
        h2 websites
        h3 handcrafted with love

      section(data-bespoke-hash='hosting')
        img(src='images/servers.png')
        h2 super fast & reliable hosting
        h3 cloud, VPS and managed servers

      section(data-bespoke-hash='solutions')
        h2 end to end solutions
        pre
          code.language-javascript.
            apps.crafted('with', [
              loving(),
              care()
            ]);

      section(data-bespoke-hash='contact')
        h2 contact us
        h3 +353 (0)1 443 4404
        p <em>info@cherrysoft.com</em>

    script(src='build/build.js')
